.item-detail__contet {
    max-width: 1540px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
    padding: 80px 90px;
}

.item-image__content{
    width: 100%;
}

.item-image {
    width: 100%;
}

.item-detaile-information__content {
    width: 45%;
}

.item-name {
    font-size: 46px;
    display: inline;
}